main {
  padding: 30px 20px 100px 20px; /* padding: 12시,3시,6시,9시 방향으로 공간 주는것*/
}

.item-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid #ededef;
  padding: 20px 0 20px 0;
}

.item-list__img {
  width: 150px;
  height: 150px;
  border: 1px solid rgba(0, 0, 0, 0.1); /*rgba = rgb값에 alpha라는 값이 들어가서 불투명도까지 조절할 수 있는 색깔 선택 옵션*/
  border-radius: 12px;
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /*div 밖으로 삐져나온 이미지 부분을 안보이게 하고 싶을 경우 overflow:hidden*/
}

.item-list__img img {
  width: 100%; /*item-list__img 50px 이미지가 작아지게 줄임*/
  height: 100%;
}

.item-list__info {
  height: 130px;
  display: flex;
  flex-direction: column; /* flex-direction으로 column으로 바꿔줬기 때문에 메인 axis가 세로방향이다.*/
  justify-content: start;
  align-items: start;
}

.item-list__info div {
  margin-top: 10px;
}

.item-list__info-meta {
  font-size: smaller;
  color: rgba(0, 0, 0, 0.3);
  padding: 5px 0 5px 0;
}

.item-list__info-price {
  font-weight: bold;
}

.write-btn {
  background-color: var(--button-primary);
  color: white;
  padding: 10px 15px 10px 15px;
  border-radius: 25px;
  font-size: 15px;
  position: fixed;
  bottom: 120px;
  right: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  /* text-decoration: 주황색 +글쓰기 버튼의 글씨 밑줄을 없애기 위함 */
  text-decoration: none;
}

.write-btn:hover {
  background-color: var(--button-hover);
}
